---
export interface Props {
  title: string;
  body: string;
  href: string;
  tags: string[];
}

const { href, title, body, tags } = Astro.props;
---

<li class="bg-white rounded-md shadow-md hover:shadow-xl transition">
  <a href={`/blog/${href}`}>
    <div class="flex flex-col h-full gap-y-2 p-6">
      <h2 class="font-semibold text-xl pr-4 pt-2">
        {title}
      </h2>
      <p>
        {body}
      </p>
      {
        tags && (
          <div class="flex flex-wrap gap-1">
            {tags?.map((tag) => (
              <span class="bg-zinc-100 border px-2 text-sm text-zinc-700 font-bold rounded-md transition shadow w-fit whitespace-nowrap">
                {tag}
              </span>
            ))}
          </div>
        )
      }
    </div>
  </a>
</li>
