---
export interface Props {
  title: string
  body: string
  href: string
  tags: string[]
}

const { href, title, body, tags } = Astro.props
---

<li class="rounded-md bg-white shadow-md transition hover:shadow-xl">
  <a href={`/blog/${href}`}>
    <div class="flex h-full flex-col gap-y-2 p-6">
      <h2 class="pr-4 pt-2 text-xl font-semibold">
        {title}
      </h2>
      <p>
        {body}
      </p>
      {
        tags && (
          <div class="flex flex-wrap gap-1">
            {tags?.map((tag) => (
              <span class="w-fit whitespace-nowrap rounded-md border bg-zinc-100 px-2 text-sm font-bold text-zinc-700 shadow transition">
                {tag}
              </span>
            ))}
          </div>
        )
      }
    </div>
  </a>
</li>
