---
import Footer from "../components/Footer.astro";
import Metadata from "../components/Metadata.astro";
import Navigation from "../components/Navigation.astro";
const { title, description, imageUrl } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Metadata title={title} description={description} imageUrl={imageUrl} />
  </head>
  <body class="bg-zinc-100">
    <Navigation />
    <main
      class="flex flex-col max-w-3xl mx-auto my-12 px-3 lg:px-0 min-h-screen"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
